@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyPickupDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeeklyPickupDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OneTimePickup)
        </dt>
        <dd class="col-sm-10">
            @if (Model.OneTimePickup == null)
            {
                <p>none selected</p>
            }
            else
            {
                @Html.DisplayFor(model => model.OneTimePickup)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartServiceHold)
        </dt>
        <dd class="col-sm-10">
            @if (Model.StartServiceHold == null)
            {
                <p>none selected</p>
            }
            else
            {
                @Html.DisplayFor(model => model.StartServiceHold)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndServiceHold)
        </dt>
        <dd class="col-sm-10">
            @if (Model.EndServiceHold == null)
            {
                <p>none selected</p>
            }
            else
            {
                @Html.DisplayFor(model => model.EndServiceHold)
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceIsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceIsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(43.036206, -87.992284),
            zoom: 13,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({ position: myCenter});
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?AIzaSyBrW65Y8YKrq_nTTsZuL7ZYroEPlWZ_CSU&callback=myMap"></script>


